@import 'normalize';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
@import 'variables';

body {
    height: 100%;
    min-width: 320px;
    overflow-x: hidden;
}

.container {
    max-width: 945px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: $color_title;
    text-transform: uppercase;

    span {
        color: $color_button;
    }
}

.description {
    color: $color_desc;
}

.link {
    color: $color_button;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 20px;
    padding-right: 20px;
    position: relative;
    transition: 0.3s;

    &::after {
        position: absolute;
        font-family: 'icomoon';
        content: "\ea3c";
        right: 0;
        top: 0;
    }

    &:hover {
        padding-right: 25px;
    }
}


@import 'header';
@import 'advantages';
@import 'portfolio';
@import 'team';
@import 'footer';